@import 'tailwindcss';

@font-face {
    font-family: 'Fixel Display';
    src: local('FixelDisplay-Regular'), url('assets/fonts/fixel-display/fixel-display-400-normal.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fixel Display';
    src: local('FixelDisplay-Medium'), url('assets/fonts/fixel-display/fixel-display-500-normal.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fixel Display';
    src: local('FixelDisplay-SemiBold'), url('assets/fonts/fixel-display/fixel-display-600-normal.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fixel Display';
    src: local('FixelDisplay-Bold'), url('assets/fonts/fixel-display/fixel-display-700-normal.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@theme {
    --color-black: #121417;
    --color-green: #85aa9f;
    --color-white: #fcfcfc;
    --color-white-1: #f8f8f8;

    --breakpoint-mb: 23.438rem;
    --breakpoint-tb: 48rem;
    --breakpoint-dt: 90rem;

    --tracking-1: 0.01em;
    --tracking-2: 0.02em;
}

button {
    cursor: pointer;
}

body {
    background-color: var(--color-white-1);
    font-family: 'Fixel Display', sans-serif;
    color: var(--color-black);
}